# User specific
.idea/

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

UnityGame/[Ll]ibrary/
UnityGame/[Tt]emp/
UnityGame/[Oo]bj/
UnityGame/[Bb]uild/
UnityGame/[Bb]uilds/
UnityGame/[Ll]ogs/
UnityGame/[Uu]ser[Ss]ettings/